<div>
  <div>
    <div>
      <label class="ml5 f-size24">
        About Jc
      </label>
    </div>
  </div>
  <div nz-row class="mt10">
    <div nz-col [nzSpan]="24">
      <nz-descriptions nzBordered>
        <nz-descriptions-item nzTitle="在线工具:" nzSpan="3">
          <a href="https://jccore.io" target="_blank">
            https://jccore.io
          </a>
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="使用文档:" nzSpan="3">
          <a href="https://www.cnblogs.com/arthur3k/p/11147230.html" target="_blank">
            https://www.cnblogs.com/arthur3k/p/11147230.html
          </a>
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="源码地址:" nzSpan="3">
          <div>
            <a href="https://github.com/279328316/JcApiHelper" target="_blank">
              https://github.com/279328316/JcApiHelper
            </a>
          </div>
          <div>
            <a href="https://github.com/279328316/JcApiHelper.Html" target="_blank">
              https://github.com/279328316/JcApiHelper.Html
            </a>
          </div>
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="关于作者:" nzSpan="3" target="_blank">
          <a href="https://www.cnblogs.com/arthur3k/">
            https://www.cnblogs.com/arthur3k
          </a>
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="QQ:" nzSpan="3">
          <a>279328316</a>
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="QQ群:" nzSpan="3">
          <a class="lh18 vcenter" target="_blank"
             href="//shang.qq.com/wpa/qunwpa?idkey=3dd13d0d1cc13c868ac117bfa4887aa4e5dd38e8df5fe1f8765cdf4ea5d76fad">
            744340299
          </a>
          <a class="ml10" target="_blank"
             href="//shang.qq.com/wpa/qunwpa?idkey=3dd13d0d1cc13c868ac117bfa4887aa4e5dd38e8df5fe1f8765cdf4ea5d76fad">
            <img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="JcCore开发者交流群" title="JcCore开发者交流群">
          </a>
        </nz-descriptions-item>
      </nz-descriptions>
    </div>
  </div>
  <div class="mt30">
    <div style="padding:5px 24px;background-color:#e6f7ff;">
      <div class="f-size12 color-lightblue">
        时间之海,唯真善美永恒.<br/>
        繁星点点,人生经历万千,愿你穿越沧桑,仍是一个有所坚持的人.
        <label class="ml50"> -- Arthur3K</label>
      </div>
    </div>
  </div>
</div>



