
<div class="container container-star">
</div>
<div class="container container-bird">
  <div class="container-title">
    <div class="title">
      <div class="number">4</div>
      <div class="moon">
        <div class="face">
          <div class="mouth"></div>
          <div class="eyes">
            <div class="eye-left"></div>
            <div class="eye-right"></div>
          </div>
        </div>
      </div>
      <div class="number">4</div>
    </div>
    <div class="subtitle">哎呀,你访问的页面找不到了.</div>
    <a nz-button nzType="primary" nzGhost
       class="mt40 w100" routerLink="/">Return</a>
  </div>
</div>
