<div nz-row nzGutter="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
  <div nz-col class="gutter-row" nzSpan="4">
    <div class="gutter-box">
      <app-smalllogo></app-smalllogo>
    </div>
  </div>
  <div nz-col class="gutter-row" nzSpan="12">
    <div class="gutter-box">
      <ul nz-menu [nzMode]="'horizontal'" style="line-height: 46px;">
        <li nz-menu-item>
          <a routerLink="/workbench">ApiHelper</a>
        </li>
        <li nz-submenu>
          <span title>
            <span>Online Tools</span>
          </span>
          <ul>
            <li nz-menu-item>
              <a routerLink="/jsontool">Json格式化</a>
            </li>
            <li nz-menu-item hidden="hidden">
              <a>Api接口测试</a>
            </li>
            <li nz-menu-item>
              <a routerLink="/websocket">WebSocket测试</a>
            </li>
          </ul>
        </li>
        <li nz-menu-item>
          <a routerLink="/aboutjc">About Jc</a>
        </li>
      </ul>
    </div>
  </div>
  <div nz-col [nzSpan]="8" class="tar">
    <label class="mr10" *ngIf="apiSvc.apiVersion">
      Api Version:<a class="ml10">{{apiSvc.apiVersion}}</a>
    </label>
  </div>
</div>
