<div style="padding: 20px 80px;">
  <div *ngIf="itemId">
    <div>
      <div nz-row>
        <div nz-col nzSpan="20">
          <div class="lh40">
            <label class="f-size20">
              Ts For {{itemType|titlecase}}
              <span class="color-lightblue">{{tsResult?.name}}</span>
            </label>
            <span class="f-size16 ml30" *ngIf="tsResult?.summary">{{tsResult.summary}}</span>
          </div>
        </div>
        <div nz-col nzSpan="4" class="lh40 valign-bottom">
          <a nz-button nzType="primary" nzSize="small" nzGhost class="ml50 w80" (click)="goback()">Return</a>
        </div>
      </div>
      <div>
        <nz-card class="mt10 minh500" [nzSize]="'small'">
          <ng-template #extraTemplate>
            <button nz-button nzType="link" (click)="exportTsCode()">
              <span nz-icon nzType="export"></span>
              Export
            </button>
          </ng-template>
          <nz-tabset [nzSize]="'small'" [nzAnimated]='false' [nzTabBarExtraContent]="extraTemplate">
            <nz-tab nzTitle="Models">
              <div>
                <div class="lh40">
                  <label class="f-size18 w80">Ts Models</label>
                  <div class="lineblock ml50">
                    <nz-radio-group [(ngModel)]="tsModelViewType" (ngModelChange)="modelViewTypeChanged()">
                      <label nz-radio nzValue="1">TableView</label>
                      <label nz-radio nzValue="2">CodeView</label>
                    </nz-radio-group>
                  </div>
                </div>
                <div>
                  <div *ngIf="tsModelViewType=='1'">
                    <nz-card nzSize="small">
                      <div class="mt10 mb20 pr56" *ngFor="let tsModel of tsResult.tsModelList">
                        <div>
                          <div class="pl5">
                            <label class="f-size16 color-primary">
                              {{tsModel.name}}
                            </label>
                            <label *ngIf="tsModel.name != tsModel.sourceName" class="f-size16 ml10 color-darkgray">
                              ({{tsModel.sourceName}})
                            </label>
                            <nz-tag *ngIf="tsModel.isEnum" nzColor="cyan" class="ml10">IsEnum</nz-tag>
                            <label class="ml10" style="max-width: 60%;" title="{{tsModel.summary}}">
                              {{tsModel.summary}}
                            </label>
                            <div class="pull-right mr80">
                              <a nz-button nzType="primary" nzSize="small" nzGhost (click)="viewLambda(tsModel)"
                                class="w100">快捷Lambda</a>
                            </div>
                          </div>
                        </div>
                        <div tabindex="1" (keyup)="onKeyUpHandler($event)" (keydown)="onKeyDownHandler($event)">
                          <nz-table #tsModelTable [nzBordered]="true" class="mt5 modelTable" [nzShowPagination]='false'
                            [nzPageSize]="1000" nzSize="small" [nzData]="tsModel.piList">
                            <thead>
                              <tr>
                                <th class="wp25" [nzShowSort]="true" [nzSortFn]="nameSortFn">Name</th>
                                <th class="wp15" [nzShowSort]="true" [nzSortFn]="typeSortFn">Type</th>
                                <th>Summary</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let pi of tsModelTable.data;let i = index;" (click)="selectPi(tsModel,pi,i)"
                                class="{{pi.isSelected ? 'selected':''}}">
                                <td>{{pi.name}}</td>
                                <td>{{pi.tsType}}</td>
                                <td>{{pi.summary}}</td>
                              </tr>
                            </tbody>
                          </nz-table>
                        </div>
                      </div>
                    </nz-card>
                  </div>
                  <div *ngIf="tsModelViewType=='2'">
                    <app-syntax-highlight [title]="'Typescript'" [code]="tsResult?.tsCode.tsModelCode"
                      [language]="'typescript'"></app-syntax-highlight>
                  </div>
                </div>
              </div>
            </nz-tab>
            <nz-tab nzTitle="Pages">
              <div>
                <div class="lh40">
                  <label class="f-size18 w80">Ts Pages</label>
                  <div class="lineblock ml50">
                    <label>Base Model</label>
                    <nz-select nzPlaceHolder="select base model for pages" class="w300 ml20" [(ngModel)]="pageBaseModel"
                      (ngModelChange)="pageBaseModelChange($event)" [nzShowArrow]="true">
                      @for (model of pageModelList; track model.id) {
                      <nz-option [nzLabel]="model.name" [nzValue]="model" nzCustomContent>
                        <span>
                          <span>
                            {{model.name}}
                          </span>
                          <span *ngIf="model.name != model.sourceName" class="ml10 color-darkgray">
                            {{model.sourceName}}
                          </span>
                        </span>
                      </nz-option>
                      }
                    </nz-select>
                    <button nz-button nzType="primary" class="ml30 w100" (click)="generatePages()">Generate</button>
                  </div>
                </div>
                <div nz-row nzGutter="32" class="mt10">
                  <div nz-col nzSpan="6" style="overflow-x: hidden;overflow-y: auto;">
                    <div class="h420 w350">
                      <nz-tree #nzTree nzBlockNode [nzData]="pageNodes" (nzClick)="activeNode($event)"
                        (nzDblClick)="openFolder($event)" [nzTreeTemplate]="nzTreeTemplate"></nz-tree>
                      <ng-template #nzTreeTemplate let-node let-origin="origin">
                        @if (!node.isLeaf) {
                        <div class="custom-node">
                          <div nz-row nzGutter="5">
                            <div nz-col nzSpan="1">
                              <span nz-icon [nzType]="node.isExpanded ? 'folder-open' : 'folder'"
                                (click)="openFolder(node)"></span>
                            </div>
                            <div nz-col nzSpan="23">
                              <span class="folder-name ml8">{{ node.title }}</span>
                            </div>
                          </div>
                        </div>
                        } @else {
                        <div class="custom-node">
                          <div nz-row nzGutter="5">
                            <div nz-col nzSpan="1">
                              <span nz-icon nzType="file"></span>
                            </div>
                            <div nz-col nzSpan="23">
                              <span class="file-name ml8">{{ node.title }}</span>
                            </div>
                          </div>
                        </div>
                        }
                      </ng-template>
                    </div>
                  </div>
                  <div nz-col nzSpan="18">
                    <app-syntax-highlight [title]="pageCodeTitle" [size]="'middle'" [code]="pageCode"
                      [language]="pageLanguage"></app-syntax-highlight>
                  </div>
                </div>
              </div>
            </nz-tab>
            <nz-tab nzTitle="Services">
              <div>
                <div class="lh40">
                  <label class="f-size18 w100">Api Services</label>
                  <div class="lineblock ml30">
                    <nz-radio-group [(ngModel)]="tsServiceType" (ngModelChange)="tsServiceTypeChanged()">
                      <label nz-radio nzValue="1">Ts Service</label>
                      <label nz-radio nzValue="2">ApiCode</label>
                    </nz-radio-group>
                  </div>
                </div>
                <div>
                  @if(tsServiceType == '1'){
                  <app-syntax-highlight [title]="'Typescript'" [code]="tsResult.tsCode?.tsServiceCode"
                    [language]="'typescript'"></app-syntax-highlight>
                  }@else {
                  <app-syntax-highlight [title]="'C#'" [code]="tsResult.tsCode?.apiCode"
                    [language]="'csharp'"></app-syntax-highlight>
                  }
                </div>
              </div>
            </nz-tab>
          </nz-tabset>
          <div>
            <label class="mt20 ml16 f-size12">Not all code is useful, the generated code is for reference only</label>
          </div>
        </nz-card>
      </div>
    </div>
  </div>
  <nz-modal [(nzVisible)]="showCode" [nzTitle]="codeTitle" [nzCancelText]="null" (nzOnCancel)="closeModal()"
    (nzOnOk)="closeModal()" nzWidth="720px">
    <ng-container *nzModalContent>
      <app-syntax-highlight [title]="'Typescript'" size="middle" [code]="tsCode"
        [language]="'typescript'"></app-syntax-highlight>
    </ng-container>
  </nz-modal>
</div>